:root {
	/*
		Color Scheme
		https://colorscheme.ru/#3F32igtu3w0w0
	*/
	--main-color: #1B3A67;
	--color-1: #54729E;
	--color-2: #B16C70;
	--bg-color: #e4e6e9;
	--b-color: #99AFCF;
	--b-color-2: #99AFCF;
}

html,
body {
	margin: 0;
	background-color: var(--bg-color);
	box-sizing: border-box;
	font-family: Roboto, Arial, sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 50%;
	min-width: 350px;
	max-width: 900px;
}

.site-header {
	padding: 5px 15px;
	background-color: var(--main-color);
	text-align: center;
	color: #fff;
	border: 1px solid var(--b-color-2);
	border-radius: 0 0 5px 5px;
	border-top: 0;
	box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.141), 0 1px 3px 0 rgba(0, 0, 0, 0.122);
}

.site-header__title {
	font-family: 'Google Sans', Roboto, Arial, sans-serif;
	font-weight: normal;
}

.site-body {
	margin-bottom: 30px;
}

.site-footer {
	margin-top: 20px;
	padding: 25px 15px 50px;
	color: var(--main-color);
	text-align: right;
}

.body-part {
	position: relative;
	margin: 10px 0;
	padding: 10px 20px;
	background-color: #fff;
	border: 1px solid var(--b-color-2);
	border-radius: 5px;
}

.break-line {
	height: 1px;
	background: linear-gradient(90deg, transparent, var(--main-color), transparent);
	border: 0;
}

.body-part__head {
	margin-left: 30px;
	font-family: 'Google Sans', Roboto, Arial, sans-serif;
	font-weight: normal;
}

.body-part__content {
	padding: 0 30px;
}

.items-list {
	padding: 0 1rem;
	list-style: none;
}

.items-list__item {
	margin: 1rem 0;
	padding-left: 2rem;
	background-image: url('/assets/decor/hat.png');
	background-position: 0 0;
	background-size: 1.6rem 1.6rem;
	background-repeat: no-repeat;
}

.pulse-question {
	text-align: center;
	color: var(--main-color);
	font-weight: bold;
	text-transform: uppercase;
}

.button {
	display: inline-block;
	margin: 0 auto;
	padding: 10px 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	color: #7b8057;
	text-align: center;
	text-decoration: none;
	box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.141), 0 1px 3px 0 rgba(0, 0, 0, 0.122);
}

.button--dark {
	background-color: var(--color-1);
	color: #fff;
}

.button:hover {
	filter: brightness(95%);
}

.pulse-call {
	margin: 15px 0;
	padding: 10px 20px 30px;
	text-align: center;
}

.pulse-call__head {
	margin-left: 30px;
	font-family: 'Google Sans', Roboto, Arial, sans-serif;
	font-weight: normal;
}

.pulse-balance {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.pulse-balance__item {
	padding: 10px;
	width: 40%;
	background-color: #fff;
	border-radius: 5px;
}

.balance-item__left {
	border: 1px solid #9AA34F;
}

.balance-item__right {
	border: 1px solid var(--color-2);
}

.call-to-action {
	text-align: center;
}

.project-helpers-list {
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.project-helpers-list__item {
	margin: 15px 0;
	padding: 5px;
	color: var(--main-color);
	text-align: center;
	flex-basis: 200px;
	flex-grow: 1;
	border-bottom: 1px solid var(--bg-color);
}

.project-helpers-list__link {
	text-decoration: none;
	display: block;
	position: relative;
}

.project-helpers-list__link:before {
	content: '';
	height: 30px;
	width: 50px;
	margin: 0 auto;
	display: block;
	background:
		url('/assets/decor/star.png') left/1rem no-repeat,
		url('/assets/decor/star.png') center/1.5rem no-repeat,
		url('/assets/decor/star.png') right/1rem no-repeat;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.project-helpers-list__image {
	margin-bottom: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	vertical-align: middle;
}

.become-helper {
	margin: 35px 0;
	padding: 5px;
	text-align: center;
	border-bottom: 1px solid var(--bg-color);
}

.become-helper__title {
	margin: 10px 0 20px;
	color: var(--main-color);
}

.become-helper__link {
	text-decoration: none;
	display: block;
}

.become-helper__image {
	margin: 0 auto 10px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 10px double var(--color-1);
	display: block;
	background-color: white;
}

.become-helper__description {
	font-weight: normal;
	color: black;
}

.pulse-beat {
	width: 200px;
	height: 100px;
	overflow: hidden;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.pulse-beat:after {
	display: block;
	content: '';
	background: url('/assets/decor/pulse.png') 100%/contain no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	animation: 1.7s pulse linear infinite;
	clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.pulse-beat::before {
	content: '';
	position: absolute;
	left: 2px;
	top: 5px;
	bottom: 0;
	margin: auto;
	height: 100px;
	width: 100%;
	background: url('/assets/decor/pulse.png') 100%/contain no-repeat;
	animation: 5s pulse linear infinite;
}

@keyframes pulse {
	0% {
		clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
	}

	4% {
		clip-path: polygon(0 0, 66.66667px 0, 66.66667px 100%, 0 100%);
	}

	15% {
		clip-path: polygon(0 0, 133.33333px 0, 133.33333px 100%, 0 100%);
	}

	20% {
		clip-path: polygon(0 0, 300px 0, 300px 100%, 0 100%);
		opacity: 1;
	}

	80% {
		clip-path: polygon(0 0, 300px 0, 300px 100%, 0 100%);
		opacity: 0;
	}

	90% {
		opacity: 0;
	}

	100% {
		clip-path: polygon(0 0, 300px 0, 300px 100%, 0 100%);
		opacity: 0;
	}
}