.body-call {
  margin: 15px 0;
  padding: 10px 20px 30px;
  text-align: center;
}

.body-call__head {
  margin: 10px 0 20px;
  color: var(--main-color);
}

.body-call__link {
  text-decoration: none;
  display: block;
}

.body-call__image {
  margin: 0 auto 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px double var(--color-1);
  display: block;
  background-color: white;
}

.body-call__description {
  font-weight: normal;
  color: black;
}
