.button {
	display: inline-block;
	margin: 0 auto;
	padding: 10px 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
  color: var(--main-color);
	text-align: center;
	text-decoration: none;
	box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.141), 0 1px 3px 0 rgba(0, 0, 0, 0.122);
}

.button--dark {
	background-color: var(--color-1);
  color: #fff;
}

.button:hover {
	filter: brightness(95%);
}
