.project-helpers-list {
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.project-helpers-list__item {
	margin: 15px 0;
	padding: 5px;
	text-align: center;
	flex-basis: 200px;
	flex-grow: 1;
	border-bottom: 1px solid var(--bg-color);
}

.project-helpers-list__title {
  margin: 5px 0;
}

.project-helpers-list__description {
  font-size: .85rem;
}

.project-helpers-list__link {
	text-decoration: none;
  display: block;
  color: var(--main-color);
}

.project-helpers-list__image {
	margin-bottom: 10px;
	width: 50px;
  height: 50px;
  border: 1px solid var(--b-color);
	border-radius: 50%;
	vertical-align: middle;
}

.project-helpers-list__image-wrapper {
	position: relative;
}

.project-helpers-list__image-wrapper:before {
	content: '';
	height: 30px;
	width: 50px;
	margin: 0 auto;
	display: block;
	background:
		url('/assets/decor/star.png') left/1rem no-repeat,
		url('/assets/decor/star.png') center/1.5rem no-repeat,
		url('/assets/decor/star.png') right/1rem no-repeat;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
