.pulse-call {
	margin: 15px 0;
	padding: 10px 20px 30px;
	text-align: center;
}

.pulse-call__head {
	margin: 10px 0 30px;
	font-family: 'Google Sans', Roboto, Arial, sans-serif;
	color: var(--main-color);
}

.pulse-call__image {
	margin: 0 auto 10px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 10px double var(--color-1);
	display: block;
	background-color: white;
}
