.pulse-beat {
  width: 200px;
  height: 100px;
  overflow: hidden;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.pulse-beat:after {
  display: block;
  content: '';
  background: url('/assets/decor/pulse.png') 100%/contain no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  animation: 1.7s pulse linear infinite;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.pulse-beat::before {
  content: '';
  position: absolute;
  left: 2px;
  top: 5px;
  bottom: 0;
  margin: auto;
  height: 100px;
  width: 100%;
  background: url('/assets/decor/pulse.png') 100%/contain no-repeat;
  animation: 5s pulse linear infinite;
}

@keyframes pulse {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }

  4% {
    clip-path: polygon(0 0, 66.66667px 0, 66.66667px 100%, 0 100%);
  }

  15% {
    clip-path: polygon(0 0, 133.33333px 0, 133.33333px 100%, 0 100%);
  }

  20% {
    clip-path: polygon(0 0, 300px 0, 300px 100%, 0 100%);
    opacity: 1;
  }

  80% {
    clip-path: polygon(0 0, 300px 0, 300px 100%, 0 100%);
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    clip-path: polygon(0 0, 300px 0, 300px 100%, 0 100%);
    opacity: 0;
  }
}
