.social-shares {
	text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social-shares__link {
  width: 50px;
  height: 50px;
	text-decoration: none;
  display: block;
  font-size: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.social-shares__link:hover {
  filter: drop-shadow(0 0 3px var(--main-color));
}

.social-icon__vk { background-image: url('/assets/decor/icons/socials/VK.svg'); }
.social-icon__fb { background-image: url('/assets/decor/icons/socials/Facebook.svg'); }
.social-icon__tw { background-image: url('/assets/decor/icons/socials/Twitter.svg'); }

.social-shares__description {
	font-weight: normal;
	color: black;
}
